.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.748000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.748000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.748000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.748000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.748000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.736816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:0.736328;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff14;src:url(f14.woff)format("woff");}.ff14{font-family:ff14;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff15;src:url(f15.woff)format("woff");}.ff15{font-family:ff15;line-height:0.748000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff16;src:url(f16.woff)format("woff");}.ff16{font-family:ff16;line-height:0.737305;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff17;src:url(f17.woff)format("woff");}.ff17{font-family:ff17;line-height:0.737305;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-11.520000px;}
.ls3{letter-spacing:-1.644573px;}
.ls4{letter-spacing:-0.405511px;}
.ls1{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.400000px;}
.ls2{letter-spacing:3.490900px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws3{word-spacing:-3.490900px;}
.ws1{word-spacing:-0.120000px;}
.ws2{word-spacing:0.000000px;}
.ws4{word-spacing:1.644573px;}
.ws0{word-spacing:11.520000px;}
._6{margin-left:-5.160000px;}
._0{margin-left:-3.920000px;}
._1{margin-left:-1.440000px;}
._3{width:2.094540px;}
._2{width:3.421082px;}
._4{width:134.922588px;}
._5{width:2766.036952px;}
.fc1{color:rgb(112,111,111);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:22.528400px;}
.fs6{font-size:26.400000px;}
.fs5{font-size:27.772400px;}
.fs2{font-size:32.000000px;}
.fs1{font-size:40.000000px;}
.fs3{font-size:69.818000px;}
.fs0{font-size:192.000000px;}
.y0{bottom:0.000000px;}
.y1b{bottom:13.567300px;}
.y1a{bottom:23.167300px;}
.y1c{bottom:23.915000px;}
.y1e{bottom:25.650400px;}
.y1f{bottom:27.245676px;}
.y19{bottom:32.767300px;}
.y1d{bottom:33.987300px;}
.y20{bottom:41.094000px;}
.y1{bottom:56.093700px;}
.y4b{bottom:69.440200px;}
.y42{bottom:100.620800px;}
.y59{bottom:100.625300px;}
.y5a{bottom:110.215300px;}
.y41{bottom:110.620800px;}
.y58{bottom:110.625300px;}
.y47{bottom:127.251400px;}
.y5c{bottom:145.182100px;}
.y18{bottom:149.159300px;}
.y2f{bottom:151.685200px;}
.y32{bottom:151.685300px;}
.y5b{bottom:153.102100px;}
.y49{bottom:154.166200px;}
.y17{bottom:158.759300px;}
.y48{bottom:162.086200px;}
.y2e{bottom:163.685200px;}
.y31{bottom:163.685300px;}
.y16{bottom:168.359300px;}
.y2d{bottom:175.685200px;}
.y30{bottom:175.685300px;}
.y3c{bottom:181.545200px;}
.y55{bottom:181.545300px;}
.y3b{bottom:193.545200px;}
.y54{bottom:193.545300px;}
.y3a{bottom:205.545200px;}
.y53{bottom:205.545300px;}
.y4a{bottom:205.825100px;}
.y39{bottom:217.545200px;}
.y52{bottom:217.545300px;}
.y5d{bottom:222.861100px;}
.y38{bottom:229.545200px;}
.y51{bottom:229.545300px;}
.y40{bottom:265.030200px;}
.y3e{bottom:265.035200px;}
.y57{bottom:265.035300px;}
.y3f{bottom:275.030200px;}
.y3d{bottom:275.035200px;}
.y56{bottom:275.035300px;}
.y5e{bottom:286.824200px;}
.y14{bottom:287.781400px;}
.y43{bottom:298.386000px;}
.y13{bottom:311.781400px;}
.y60{bottom:313.739000px;}
.y45{bottom:318.780000px;}
.y5f{bottom:321.659000px;}
.y44{bottom:326.700000px;}
.y37{bottom:345.955200px;}
.y50{bottom:345.955300px;}
.y12{bottom:347.781400px;}
.y36{bottom:357.955200px;}
.y4f{bottom:357.955300px;}
.y11{bottom:359.781400px;}
.y46{bottom:363.509300px;}
.y35{bottom:369.955200px;}
.y4e{bottom:369.955300px;}
.y10{bottom:371.781400px;}
.y61{bottom:375.071100px;}
.y34{bottom:381.955200px;}
.y4d{bottom:381.955300px;}
.yf{bottom:383.781400px;}
.y33{bottom:393.955200px;}
.y4c{bottom:393.955300px;}
.ye{bottom:395.781400px;}
.yd{bottom:407.781400px;}
.yc{bottom:419.781400px;}
.y22{bottom:424.715200px;}
.yb{bottom:431.781400px;}
.ya{bottom:443.781400px;}
.y9{bottom:455.781400px;}
.y8{bottom:467.781400px;}
.y7{bottom:479.781400px;}
.y6{bottom:491.781400px;}
.y5{bottom:503.781400px;}
.y4{bottom:515.781400px;}
.y3{bottom:527.781400px;}
.y2{bottom:562.262600px;}
.y2b{bottom:577.925200px;}
.y2a{bottom:589.925200px;}
.y29{bottom:601.925200px;}
.y28{bottom:613.925200px;}
.y2c{bottom:625.925200px;}
.y27{bottom:637.925200px;}
.y26{bottom:649.925200px;}
.y25{bottom:661.925200px;}
.y24{bottom:673.925200px;}
.y23{bottom:685.925200px;}
.y15{bottom:686.521400px;}
.y21{bottom:701.521200px;}
.h8{height:16.401291px;}
.he{height:18.936328px;}
.h9{height:20.246188px;}
.h5{height:23.392000px;}
.h6{height:25.152000px;}
.hb{height:29.240000px;}
.h4{height:31.440000px;}
.h7{height:50.829413px;}
.h3{height:140.352000px;}
.hd{height:401.500000px;}
.hc{height:580.000000px;}
.h2{height:680.914300px;}
.ha{height:695.914000px;}
.h1{height:737.000000px;}
.h0{height:737.008000px;}
.w2{width:499.999000px;}
.w3{width:566.929000px;}
.w0{width:1133.860000px;}
.w1{width:1134.000000px;}
.x0{left:0.000000px;}
.x2{left:25.039100px;}
.xb{left:28.346500px;}
.x5{left:59.305700px;}
.x19{left:68.146100px;}
.x16{left:70.123000px;}
.x15{left:76.135600px;}
.x18{left:77.339900px;}
.x14{left:92.800600px;}
.x17{left:95.456900px;}
.xe{left:111.496500px;}
.x7{left:227.690900px;}
.x3{left:229.469100px;}
.x13{left:277.795300px;}
.x6{left:320.714800px;}
.xf{left:366.616500px;}
.x9{left:414.198200px;}
.x4{left:467.469100px;}
.x12{left:521.902400px;}
.xd{left:527.462400px;}
.xc{left:566.929000px;}
.xa{left:592.797400px;}
.x26{left:595.276100px;}
.x1{left:626.929000px;}
.x20{left:630.431600px;}
.x24{left:632.629500px;}
.x1f{left:640.113800px;}
.x23{left:642.311700px;}
.x10{left:651.971400px;}
.x25{left:661.117300px;}
.x21{left:663.315000px;}
.x22{left:664.830900px;}
.x1e{left:667.028600px;}
.x1a{left:796.531400px;}
.x1b{left:844.721400px;}
.x11{left:890.081400px;}
.x1c{left:892.911400px;}
.x1d{left:941.101400px;}
.x8{left:988.297797px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-15.360000pt;}
.ls3{letter-spacing:-2.192764pt;}
.ls4{letter-spacing:-0.540682pt;}
.ls1{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.533333pt;}
.ls2{letter-spacing:4.654533pt;}
.ws3{word-spacing:-4.654533pt;}
.ws1{word-spacing:-0.160000pt;}
.ws2{word-spacing:0.000000pt;}
.ws4{word-spacing:2.192764pt;}
.ws0{word-spacing:15.360000pt;}
._6{margin-left:-6.880000pt;}
._0{margin-left:-5.226667pt;}
._1{margin-left:-1.920000pt;}
._3{width:2.792720pt;}
._2{width:4.561443pt;}
._4{width:179.896783pt;}
._5{width:3688.049269pt;}
.fs4{font-size:30.037867pt;}
.fs6{font-size:35.200000pt;}
.fs5{font-size:37.029867pt;}
.fs2{font-size:42.666667pt;}
.fs1{font-size:53.333333pt;}
.fs3{font-size:93.090667pt;}
.fs0{font-size:256.000000pt;}
.y0{bottom:0.000000pt;}
.y1b{bottom:18.089733pt;}
.y1a{bottom:30.889733pt;}
.y1c{bottom:31.886667pt;}
.y1e{bottom:34.200533pt;}
.y1f{bottom:36.327568pt;}
.y19{bottom:43.689733pt;}
.y1d{bottom:45.316400pt;}
.y20{bottom:54.792000pt;}
.y1{bottom:74.791600pt;}
.y4b{bottom:92.586933pt;}
.y42{bottom:134.161067pt;}
.y59{bottom:134.167067pt;}
.y5a{bottom:146.953733pt;}
.y41{bottom:147.494400pt;}
.y58{bottom:147.500400pt;}
.y47{bottom:169.668533pt;}
.y5c{bottom:193.576133pt;}
.y18{bottom:198.879067pt;}
.y2f{bottom:202.246933pt;}
.y32{bottom:202.247067pt;}
.y5b{bottom:204.136133pt;}
.y49{bottom:205.554933pt;}
.y17{bottom:211.679067pt;}
.y48{bottom:216.114933pt;}
.y2e{bottom:218.246933pt;}
.y31{bottom:218.247067pt;}
.y16{bottom:224.479067pt;}
.y2d{bottom:234.246933pt;}
.y30{bottom:234.247067pt;}
.y3c{bottom:242.060267pt;}
.y55{bottom:242.060400pt;}
.y3b{bottom:258.060267pt;}
.y54{bottom:258.060400pt;}
.y3a{bottom:274.060267pt;}
.y53{bottom:274.060400pt;}
.y4a{bottom:274.433467pt;}
.y39{bottom:290.060267pt;}
.y52{bottom:290.060400pt;}
.y5d{bottom:297.148133pt;}
.y38{bottom:306.060267pt;}
.y51{bottom:306.060400pt;}
.y40{bottom:353.373600pt;}
.y3e{bottom:353.380267pt;}
.y57{bottom:353.380400pt;}
.y3f{bottom:366.706933pt;}
.y3d{bottom:366.713600pt;}
.y56{bottom:366.713733pt;}
.y5e{bottom:382.432267pt;}
.y14{bottom:383.708533pt;}
.y43{bottom:397.848000pt;}
.y13{bottom:415.708533pt;}
.y60{bottom:418.318667pt;}
.y45{bottom:425.040000pt;}
.y5f{bottom:428.878667pt;}
.y44{bottom:435.600000pt;}
.y37{bottom:461.273600pt;}
.y50{bottom:461.273733pt;}
.y12{bottom:463.708533pt;}
.y36{bottom:477.273600pt;}
.y4f{bottom:477.273733pt;}
.y11{bottom:479.708533pt;}
.y46{bottom:484.679067pt;}
.y35{bottom:493.273600pt;}
.y4e{bottom:493.273733pt;}
.y10{bottom:495.708533pt;}
.y61{bottom:500.094800pt;}
.y34{bottom:509.273600pt;}
.y4d{bottom:509.273733pt;}
.yf{bottom:511.708533pt;}
.y33{bottom:525.273600pt;}
.y4c{bottom:525.273733pt;}
.ye{bottom:527.708533pt;}
.yd{bottom:543.708533pt;}
.yc{bottom:559.708533pt;}
.y22{bottom:566.286933pt;}
.yb{bottom:575.708533pt;}
.ya{bottom:591.708533pt;}
.y9{bottom:607.708533pt;}
.y8{bottom:623.708533pt;}
.y7{bottom:639.708533pt;}
.y6{bottom:655.708533pt;}
.y5{bottom:671.708533pt;}
.y4{bottom:687.708533pt;}
.y3{bottom:703.708533pt;}
.y2{bottom:749.683467pt;}
.y2b{bottom:770.566933pt;}
.y2a{bottom:786.566933pt;}
.y29{bottom:802.566933pt;}
.y28{bottom:818.566933pt;}
.y2c{bottom:834.566933pt;}
.y27{bottom:850.566933pt;}
.y26{bottom:866.566933pt;}
.y25{bottom:882.566933pt;}
.y24{bottom:898.566933pt;}
.y23{bottom:914.566933pt;}
.y15{bottom:915.361867pt;}
.y21{bottom:935.361600pt;}
.h8{height:21.868388pt;}
.he{height:25.248437pt;}
.h9{height:26.994917pt;}
.h5{height:31.189333pt;}
.h6{height:33.536000pt;}
.hb{height:38.986667pt;}
.h4{height:41.920000pt;}
.h7{height:67.772551pt;}
.h3{height:187.136000pt;}
.hd{height:535.333333pt;}
.hc{height:773.333333pt;}
.h2{height:907.885733pt;}
.ha{height:927.885333pt;}
.h1{height:982.666667pt;}
.h0{height:982.677333pt;}
.w2{width:666.665333pt;}
.w3{width:755.905333pt;}
.w0{width:1511.813333pt;}
.w1{width:1512.000000pt;}
.x0{left:0.000000pt;}
.x2{left:33.385467pt;}
.xb{left:37.795333pt;}
.x5{left:79.074267pt;}
.x19{left:90.861467pt;}
.x16{left:93.497333pt;}
.x15{left:101.514133pt;}
.x18{left:103.119867pt;}
.x14{left:123.734133pt;}
.x17{left:127.275867pt;}
.xe{left:148.662000pt;}
.x7{left:303.587867pt;}
.x3{left:305.958800pt;}
.x13{left:370.393733pt;}
.x6{left:427.619733pt;}
.xf{left:488.822000pt;}
.x9{left:552.264267pt;}
.x4{left:623.292133pt;}
.x12{left:695.869867pt;}
.xd{left:703.283200pt;}
.xc{left:755.905333pt;}
.xa{left:790.396533pt;}
.x26{left:793.701467pt;}
.x1{left:835.905333pt;}
.x20{left:840.575467pt;}
.x24{left:843.506000pt;}
.x1f{left:853.485067pt;}
.x23{left:856.415600pt;}
.x10{left:869.295200pt;}
.x25{left:881.489733pt;}
.x21{left:884.420000pt;}
.x22{left:886.441200pt;}
.x1e{left:889.371467pt;}
.x1a{left:1062.041867pt;}
.x1b{left:1126.295200pt;}
.x11{left:1186.775200pt;}
.x1c{left:1190.548533pt;}
.x1d{left:1254.801867pt;}
.x8{left:1317.730395pt;}
}
